.reel-container {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button,
.slider-wrapper .nr-slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #f56600;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover,
.nr-slide-button:hover {
  background: #ad4702;
}
.slider-wrapper .slide-button#prev-slide,
.nr-slide-button#new-prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide,
.nr-slide-button#new-next-slide {
  right: -25px;
}
.slider-wrapper .image-list,
.new-r-image-list {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 30px;
  font-size: 14pt;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.slider-wrapper .credits-list {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  gap: 30px;
  font-size: 14pt;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.slider-wrapper .image-list::-webkit-scrollbar,
.new-r-image-list::-webkit-scrollbar,
.slider-wrapper .credits-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item,
.new-r-image-list .image-item,
.slider-wrapper .credits-list .image-item {
  width: 250px;
  height: 375px;
  object-fit: cover;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none; /* Standard syntax */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.container .slider-scrollbar,
.container .nr-slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track,
.nr-slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track,
.nr-slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb,
.nr-slider-scrollbar .nr-scrollbar-thumb {
  position: absolute;
  background: #f56600;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active,
.nr-slider-scrollbar .nr-scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after,
.nr-slider-scrollbar .nr-scrollbar-thumb::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.chevy {
  width: 100%;
}

.film-info-can {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  border: #fff 1px solid;
  border-radius: 5px;
}

.movie-reel-title {
  font-family: 'Orbitron', sans-serif;
}

.img-reel-film-title {
  color: #000;
  font-weight: 600;
  margin: 5px 0 0;
  font-size: 12pt;
}

.img-reel-film-genre {
  margin: 2px 0 0;
  font-size: 10pt;
}

.film-details {
  display: flex;
  padding: 10px;
  color: #000;
  border-top: #fff 1px solid;
  justify-content: space-between;
}

.film-desc-deets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2px;
}

.film-ratings-deets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-reel-ratings-title {
  margin: 2px 0 0;
  text-align: center;
}

.img-reel-ratings {
  margin: 0;
  font-size: 15pt;
  font-weight: 600;
  text-align: center;
  border-radius: 7px;
  background-color: rgb(255, 187, 185);
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button,
  .nr-slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list,
  .slider-wrapper .new-r-image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item,
  .slider-wrapper .new-r-image-list .image-item {
    width: 280px;
    height: 425px;
  }
  .slider-scrollbar .scrollbar-thumb,
  .nr-scrollbar-thumb {
    width: 20%;
  }
}
