html,
body {
  margin: 0;
  color: whitesmoke;
  font-family: 'Acme', sans-serif;
  background-color: #111;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 11pt;
}

.navcan {
  background-color: #111 !important;
  border-bottom: whitesmoke solid 1px;
  height: 75px;
}

.navcan2 {
  background-color: #f56600 !important;
  border-bottom: #0c0c0c 1px solid;
  position: fixed;
  z-index: 30;
  padding: 5px 0;
  max-height: 50px;
  width: 100%;
  top: 75px;
}

.dropdown-menu[data-bs-popper] {
  left: -90px;
  text-align: center;
}

.navbar-brand {
  font-family: 'Monomaniac One', sans-serif;
  color: #f56600;
  font-size: 20pt;
}

.creds {
  display: flex;
  flex-direction: row;
}

.user-logo {
  height: 45px;
  margin-right: 15px;
}

.user-drop {
  display: flex;
}

.topnav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-height: 40px;
}

.tl-links {
  flex-direction: row;
}

.login {
  border-right: #3b3b3b solid 1px;
}

.login,
.signup {
  padding: 0px 5px;
}

.subnav {
  border-left: rgba(161, 161, 161, 0.582) solid 1px;
}

.home-content {
  padding: 125px 0;
  min-height: 100vh;
}

.usher-content {
  padding: 150px 0;
  min-height: 100vh;
}

.page-content {
  margin: 0 auto;
  padding-top: 25px;
  width: 90%;
}

.page-section {
  margin: 100px 0px;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 20pt;
}

.search-form {
  height: 30px;
  width: 200px;
}

.search-btn {
  padding: 0 5px;
}

#carouselExampleInterval {
  border-bottom: #f56600 solid 3px;
}

#carouselExampleInterval .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

#carouselExampleInterval .img-top img {
  object-fit: cover;
  object-position: top !important;
  height: 50vh;
  overflow: hidden;
}

.card {
  background-color: rgb(29, 29, 29);
  border: #fff 1px solid;
  border-radius: 5px;
  margin: 15px auto;
}

.card-img-top {
  height: 70%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.card-body {
  border-top: #fff 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn.btn-dark {
  background-color: #f56600;
}

.col-sm-6 {
  margin-bottom: 50px;
}

.time-cards {
  justify-content: space-between;
}

.hours-pic {
  object-position: top;
}

.usher-sched {
  width: 90%;
  margin: 25px auto;
}

.even-entry,
.new-entry-a {
  --bs-list-group-bg: darkgrey;
}

.odd-entry,
.new-entry-b {
  --bs-list-group-bg: dimgrey;
}

.deleter {
  width: 100%;
  height: 100%;
  color: #555;
  background-color: #555;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.deleter:hover {
  color: #5c636a;
}

.dirty {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f56600;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.clean {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #313131;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.open {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f56600;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.done {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #313131;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.entry-number {
  width: 30px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.entry-aud {
  width: 41px;
  padding: 8px 0px;
  text-align: center;
}

.entry-rows {
  width: 51px;
  padding: 8px 0px;
  text-align: center;
}

.entry-status {
  width: 63px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.entry-time {
  width: 70px;
  padding: 8px 0px;
  text-align: center;
}

.entry-movie {
  padding: 8px 16px;
  text-align: left;
}

.btns-flexcan {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 150px;
}

.sched-option {
  width: 49%;
}

#sched-form {
  background-color: #111;
}

.critiq-content {
  padding-top: 50px;
}

.critiq {
  min-height: 120vh;
  margin-top: 120px;
}

.descriptions {
  color: #0c0c0c;
}

.hunger-desc {
  padding: 0;
  margin-bottom: 0;
}

footer {
  display: inline-block;
  width: 100%;
  height: 300px;
  background: #0c0c0c;
  border-top: 1px #3b3b3b solid;
  font-weight: 600;
  text-align: center;
  margin-top: -5px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.haiku {
  font-family: 'Acme', sans-serif;
  padding-bottom: 10px;
  font-size: 9pt;
}

.poem {
  margin: 0;
  padding: 0;
}

.footer-flex {
  font-family: 'Acme', sans-serif;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 9pt;
  margin: auto;
  display: flex;
  width: 100%;
  min-height: 25vh;
}

.footer-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 15pt;
  color: whitesmoke;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.footy-logo {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 15pt;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.okpara_copyright {
  font-family: 'Fuggles', cursive;
  font-size: 14pt;
}

.name-footer {
  margin-bottom: 0rem;
}

.haiku {
  font-size: 10pt;
}
/******************************** Movie Reel ****************************************/

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 440px;
  margin: 25px 0;
  background: black;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}
.movie-card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.ub-mp-film-title {
  font-size: 30pt;
  font-weight: 600;
  padding: 18px 0;
}

.ub-mp-film-desc {
  font-size: 15pt;
  padding: 10px 0;
}

.movie-card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}
.movie-card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
.movie-card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.movie-card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.movie-card p {
  line-height: 24px;
  height: 70%;
}
.movie-card button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.movie-card button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

/****************************TIME CARD********************************/
.shifts-content-can {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.shifts-page-section-can {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 25px;
}

.add-shift-page-section-can {
  width: 30%;
  height: 400px;
  margin: auto 0;
}

.add-shift-title {
  text-align: center;
}

.shift-info-can {
  display: flex;
  color: #0c0c0c;
  width: 33%;
  margin: 25px auto;
  border: #0c0c0c 1px solid;
  border-radius: 10px;
  flex-direction: column;
  background-color: gainsboro;
}

.shift-card-title {
  padding: 10px;
  text-align: center;
}

.shifts-can {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  margin: 25px 0;
  border-radius: 5px;
}

.shift-time-can {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  border-top: #222 1px solid;
}

.time-label {
  width: 50px;
}

.sched-stats {
  font-size: 15pt;
  text-align: center;
}

.money-money {
  color: #f56600;
  font-size: 20pt;
}

.no-bread-can {
  border: #f56600 1px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 300px;
  width: 100%;
}

.add-shift-form {
  display: flex;
  color: #0c0c0c;
  width: 75%;
  padding: 20px;
  margin: 0 auto;
  flex-direction: column;
  background-color: gainsboro;
  border: #f56600 1px solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.form_field_wrap {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

/* -------------------------------------- MOVIE PAGE ------------------------------------------ */

.backdrop-showcase {
  min-height: 50vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: #3a3a3a 1px solid;
  box-shadow: 0 0 20px 8px #222;
}

.backdrop-showcase-mobile {
  display: none;
}

.moviepage-contents {
  padding-top: 25px;
  min-height: 100vh;
  width: 100%;
}

.film-cover-image-can {
  width: 250px;
}

.movie-cover-img {
  width: 100%;
  border-radius: 15px;
  border: rgb(240, 240, 240) solid 1px;
}

.film-package {
  display: flex;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 40px;
  backdrop-filter: blur(1px);
  width: 100%;
}

.mp-film-bd-info {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: auto 75px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mp-film-title {
  padding: 2px;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}

.mp-film-desc {
  padding: 25px;
  margin: 0;
}

.mp-film-opts-can {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.mp-film-opts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222;
  border-radius: 15px;
  width: 100px;
  min-height: 75px;
  margin: 0 5px 10px 0;
  padding: 10px;
}

.mp-film-opts-hdr {
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
}

.rating {
  font-weight: 500;
  width: 135px;
}

.mp-film-opts-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tmdb-rating {
  font-size: 18pt;
}

.mp-section-hdr {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 22pt;
  font-style: normal;
  text-align: center;
}

.mp-video-section {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.mp-videos-can {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.embed-vid {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 3px 3px #222;
}

.cp-rating-star {
  color: goldenrod;
}

.grade-star {
  color: goldenrod;
  padding-right: 10px;
}

.star-track {
  width: 20px;
}

.slider-deets {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.mso-icon {
  font-size: 24pt;
}

.mso-icon:hover {
  color: #5c636a;
  cursor: pointer;
}

.mp-all-opts-can {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rate-slider-can {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.star-form-label {
  text-align: center;
}

#mp-rate-slider {
  width: 60%;
}

.rate-slider-label {
  text-align: center;
}

.hideme {
  display: none;
}

.rate-check-btn {
  padding: 0;
  height: 30px;
  display: flex;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  border: gainsboro 1px solid;
}

.rate-form {
  display: flex;
  width: 60%;
}

.wl-form-btn {
  padding: 0;
  margin: 0;
  height: 35px;
  border: none;
  background-color: #222 !important;
}

.on-the-list {
  color: #04aa6d;
}

.form-range::-webkit-slider-thumb {
  background: #f56600;
  border: gainsboro 1px solid;
}

.form-range::-moz-range-thumb {
  background: #f56600;
  border: gainsboro 1px solid;
}

.form-range::-ms-thumb {
  background: #f56600;
  border: gainsboro 1px solid;
}

.review-modal {
  color: #0c0c0c;
}

#modal-review-space {
  width: 100%;
  border: none;
  min-height: 300px;
  resize: none;
  padding: 10px;
}

.recc-secc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-ques {
  margin: 0 25px;
}

.radio-btns {
  margin: 0 5px;
}

/******************************************************************/
/******************************************************************/

@keyframes youtubeAnim {
  0%,
  100% {
    color: #c9110f;
  }
  50% {
    color: #ff0000;
  }
}
/* footer  */

.footy-tmdb-icon {
  height: 30px;
}

.footy-link-list {
  margin-bottom: 15px;
}

/***********/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5620086;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c0c0c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}

/*******************pop up form****************/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 25%;
  left: 5%;
  width: 350px;
  height: auto;
  background-color: #111;
  border: 2px solid black;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Full-width input fields */
.form-container input[type='text'],
.form-container input[type='password'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
